# compiled output
/out
/target

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.iml
*.ipr
*.iws
.vscode/
eclipse-launch-profiles

#System Files
*~
.DS_Store
Thumbs.db

#Log Files
logs/
*.log

# DUMMY 어댑터가 만드는 임시 산출물 디렉터리
/work/
